@font-face {
  src: url(../fonts/Pixeled.ttf);
  font-family: "Pixeled";
}

body {
  display: flex;
  height: 100vh;
  background-color: #292929;
}

.score {
  position: absolute;
  color: #fff;
  top: 50px;
  right: 50px;
  font-size: 40px;
  font-family: "Pixeled";
}

.scoreOver {
  color: #fff;
  font-size: 40px;
  top: 200px;
  position: absolute;
  margin: auto;
  width: 50%;
  left: 0;
  right: 0;
  text-align: center;
  font-family: "Pixeled";
}

.firstPage {
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #292929;
  position: absolute;
}

.firstPage h1 {
  position: absolute;
  width: 100%;
  font-size: 60px;
  color: #FFF;
  text-align: center;
  top: 30vh;
  transform: translateY(-30%);
  font-family: "Pixeled";
  text-transform: uppercase;
}

.firstPage p {
  position: absolute;
  width: 100%;
  color: #fff;
  font-size: 15px;
  text-align: center;
  top: 50vh;
  transform: translateY(-50%);
  font-family: "Pixeled";
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 100019;
  top: 50px;
  left: 50px;
}

.logo img {
  width: 100%;
}

.button {
  width: 150px;
  height: 50px;
  background-color: OrangeRed;
  border: solid 3px #fff;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: "Pixeled";
  padding: 0;
  position: absolute;
  top: 75vh;
  transform: translateY(-75%);
  cursor: pointer;
  margin: auto;
  left: 0;
  right: 0;
  animation: blink-animation .4s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.timeOver {
  position: absolute;
  display: none;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.timeOver p {
  color: #fff;
  font-size: 60px;
  margin: auto;
  font-family: "Pixeled"
}

.restart {
  width: 150px;
  height: 50px;
  background-color: OrangeRed;
  border: solid 3px #fff;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: "Pixeled";
  padding: 0;
  position: absolute;
  top: 75vh;
  transform: translateY(-75%);
  cursor: pointer;
  margin: auto;
  left: 0;
  right: 0;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.canvas {
  margin: auto;
  height: 600px;
  width: 800px;
  background-color: #292929;
}

.squareContainer {
  margin-top: 80px;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lineSquare {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 30px auto;
}

.square {
  background-color: red;
  width: 108px;
  height: 108px;
  cursor: pointer;
}

.titleContainer {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: "Pixeled";
  text-transform: uppercase;
  text-shadow: #FFF 1px 1px, #FFF -1px 1px, #FFF -1px -1px, #FFF 1px -1px;
}

.Yellow {
  background-color: yellow;
}

.Green {
  background-color: SeaGreen;
}

.Beige {
  background-color: BlanchedAlmond;
}

.Ketchup {
  background-color: red;
}

.Salmon {
  background-color: Salmon;
}

.Pink {
  background-color: DeepPink;
}

.Chocolate {
  background-color: Sienna;
}

.DarkBlue {
  background-color: navy;
}

.Mint {
  background-color: Aquamarine;
}

.Purple {
  background-color: purple;
}
